<div id="cookie-info" class="w-100 p-2 d-none">
    <div class="alert alert-primary row m-0" role="alert">
        <div class="col-8 align-middle p-0 pt-1">
            {% set widget = widget.getWidget('cookie-info') %}
            {{ widget_translation.getWidgetTranslation(widget, page.getLanguage()).getContent()|raw }}
        </div>
        <div class="col-4 text-right p-0">
            <button class="btn btn-primary btn-sm" id="accept-cookies">OK</button>
        </div>
    </div>
</div>
